// ion-grid {
//     height: 100%;
  
//     ion-row {
//       height: 50%;
//     }
//     ion-card{
//         width: 100%;
//         ion-card-content {
//             ion-title{
//                 font-size: 50px;
//             }
//         }
//     }
//   }

//  ion-card{
//  height: 50%;
//  width: 100%;
//  }
//  .font{
//      font-size: 8vw;
//      font-weight: bold;
//  }
//  .collum{
//      height: 50%;
//      width: 100%;
//  }
//  .text{
//     margin: auto;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     font-size: 8vw;
//      font-weight: bold;
//  }
// .image{
//     max-width :100%; 
//     max-height:100%;
// }

// ion-grid{
//     height: 100%;
//     width: auto;
    
    
//     ion-row{
//         width: auto;
//         height: 50%;
//         background-color: aliceblue;
        
//        ion-text{
//            text-align: center;
//            font-size: 10vw;
//                 font-weight: bold;
//        }
//        ion-col{
//            background-color:black;
//        }
//     }
// }


.first{
    height: 100%;
    width: auto;
}
.second{
    height: 50%;
    width: auto;
    
}
.therd{
    height: 50%;
    width: auto;
    
    ion-grid{
        height: 100%;
        width: auto;

        ion-row{
            width: auto;
            height: 33.333%;
             
            ion-title{
                text-align: center;
                font-size: 10vw;
                font-weight: bold;
                color: #000;
            }
           
        }
    }
}

.example-center {
    text-align: center;
  }
